@charset 'utf-8';
.h-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 1.38666667rem;
  background: #000;
}
.h-header .sidebar {
  position: relative;
  width: 1.68rem;
  height: 100%;
}
.sidebar p {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -0.28rem;
  margin-top: -0.2rem;
}
.sidebar span {
  display: block;
  width: 0.56rem;
  height: 0.08rem;
  background: #fff;
  margin-bottom: 0.08rem;
}
.h-header h1 {
  position: absolute;
  top: 0;
  left: 4.33333333rem;
  width: 1.38666667rem;
  height: 1.38666667rem;
  background: url("../images/01-header/1.png") no-repeat top / cover;
}
.h-header h1 a {
  display: block;
  width: 100%;
  height: 100%;
}
.sec-wrap {
  background: #fff;
  margin-bottom: 0.16rem;
  box-shadow: 0 0.06666667rem 0.13333333rem #dddddd;
}
.swiper-container {
  height: 3.88rem;
  margin: 0 0.34666667rem;
  padding-top: 1.78666667rem;
}
.swiper-container img {
  width: 100%;
  height: 100%;
}
.swiper-container .swiper-pagination-bullet {
  background: #fff;
  transform: scale(0.8);
}
.b-nav {
  display: flex;
  margin: 0.53333333rem 0.33333333rem 0;
  padding-bottom: 0.45333333rem;
}
.b-nav a {
  flex: 1;
  height: 1.41333333rem;
  text-align: center;
}
.b-nav a img {
  width: 0.66666667rem;
  height: 0.66666667rem;
}
.b-nav a span {
  display: block;
  margin-top: 0.26666667rem;
  font-size: 0.26666667rem;
  color: #6d6d6d;
}
.sec-wrap h2 {
  position: relative;
  height: 1.10666667rem;
  font-size: 0.4rem;
  color: #636363;
  line-height: 1.10666667rem;
  padding: 0 0.34666667rem;
}
.sec-wrap h2:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #f4f4f4;
}
.sec-wrap h2 i {
  color: #999;
  font-size: 0.26666667rem;
  font-weight: bold;
  float: right;
}
.swiper-container-hot {
  overflow: hidden;
  margin: 0 0.34666667rem;
  padding: 0.50666667rem 0 0.8rem;
}
.swiper-container-hot .swiper-slide {
  text-indent: 2em;
  margin-right: 0.53333333rem;
}
.swiper-container-hot .swiper-slide img {
  width: 3.33333333rem;
  height: 3.33333333rem;
}
.wrapper-com .swiper-slide img {
  display: block;
  border: 0.01333333rem solid #f5f5f5;
  border-radius: 0.13333333rem;
  margin-bottom: 0.24rem;
}
.wrapper-com .swiper-slide span {
  display: block;
  color: #323232;
  font-size: 0.34666667rem;
  line-height: 0.34666667rem;
  font-weight: bold;
}
.wrapper-com .swiper-slide p {
  color: #979797;
  font-size: 0.26666667rem;
  line-height: 0.69333333rem;
}
.wrapper-com .swiper-slide b {
  display: block;
  color: #d3463d ;
  font-size: 0.26666667rem;
  line-height: 0.26666667rem;
  font-weight: normal;
}
.hot-phone .phone-wrap {
  padding: 0.53333333rem 0.34666667rem 1.14666667rem;
  text-align: center;
}
.hot-phone .phone-wrap img {
  width: 9.33333333rem;
  height: 9.33333333rem;
}
.hot-phone .phone-wrap p {
  font-size: 0.34666667rem;
  font-weight: bold;
  color: #333333;
}
.hot-phone .phone-wrap p span {
  line-height: 0.29333333rem;
  padding: 0 0.16rem;
  margin-right: 0.10666667rem;
  background: #e5efff;
  border: 0.01333333rem solid #3662cb;
  border-radius: 0.05333333rem;
  color: #3662cb;
  font-size: 0.18666667rem;
  vertical-align: middle;
}
.hot-phone .phone-wrap p span:first-child {
  margin-left: 0.13333333rem;
}
.hot-phone .phone-wrap > span {
  font-size: 0.26666667rem;
  color: #b2b2b2;
}
.hot-phone .phone-wrap div b:nth-child(1) {
  color: #d5564c;
  font-size: 0.26666667rem;
}
.hot-phone .phone-wrap div b:nth-child(2) {
  text-decoration: line-through;
  color: #818181;
  font-size: 0.24rem;
}
.ear {
  padding: 0.37333333rem 0.34666667rem 0.02666667rem;
}
.ear img {
  width: 100%;
  height: 3.68rem;
  margin-bottom: 0.34666667rem;
}
.off-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.50666667rem 0.34666667rem 1.49333333rem;
}
.off-wrap .swiper-slide {
  width: 4.54666667rem;
  margin-bottom: 0.69333333rem;
  text-indent: 2em;
}
.off-wrap .swiper-slide img {
  width: 4.52rem;
  height: 4.52rem;
}
.s-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 1.49333333rem;
  background: #fff;
  border-top: 0.01333333rem solid #ebebeb;
  box-shadow: 0 -0.06666667rem 0.26666667rem #efefef;
}
.s-footer a {
  flex: 1;
  display: block;
  text-align: center;
}
.s-footer a:first-child {
  background: #f9f9f9;
}
.s-footer a:first-child h4 {
  color: #626262;
}
.s-footer a img {
  width: 0.76rem;
  height: 0.76rem;
  margin-top: 0.16rem;
}
.s-footer a h4 {
  font-size: 0.26666667rem;
  color: #9a9a9a;
}
